.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding: 50px 0px 50px 0px;

}

.header__menu {
  display: flex;
  /* flex-direction: row; */
}

.header__links-list{
  display: inline-flex;
  gap: 25px;
  list-style: circle;
}


.header__logo-image {
  display: block;
  width: 150px;
  height: 150px;
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 165px 50px 207px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}


.cover_title,
.cover__description {
  position: relative;
  z-index: 2;
  color: rgba(255, 255, 255, 1);
}


.aligned-text {
  font-weight: 700;
  font-style: bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
}

.text {
  /* ДОБАВИТЬ ОФОРМЛЕНИЕ ТЕКТА, КОТОРОЕ МОЖЕТ БЫТЬ ПЕРЕИСПОЛЬЗОВАНО ДЛЯ НЕСКОЛЬКИХ БЛОКОВ */
}

.first_lot {
  background-image:;
}


.contacts {
  display: flex;
}

.cover_title {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  text-transform:uppercase;
  font-size: 60px;
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.cover__description{
  text-transform: uppercase;
}
.footer {
  display: inline;
  width: 100%;
  /* text-transform: uppercase; */
  
}
