.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  gap: 20px;
  padding: 50px 0px 50px 0px;

}

.header__menu {
  display: flex;
}

.header__links-list{
  display: inline-flex;
  gap: 25px;
  list-style: circle;
}


.header__logo-image {
  display: block;
  width: 150px;
  height: 150px;
}

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* позиционируем блок с текстом "оно тебе надо" в родительском блоке и задаём переносы */
.cover_title {
  position: absolute;
  top: 165px;
  left: 50px;
  display: grid;
  grid-template-columns: 1fr;
  width: 1000px;
  height: 385px;
}

.cover_title,
.cover__description {
  z-index: 2;
  color: rgba(255, 255, 255, 1);
}


.aligned-text {
  font-weight: 700;
  font-style: bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  height: 115px;
  text-transform:uppercase;
  letter-spacing: 0.3em;
}

/* выравниваем текст согласно макету */
.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.cover__description{
  position: absolute;
  top: 656px;
  left: 50px;
}

.cover__description-text {
  font-weight: 100;
  text-transform: uppercase;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  
  word-spacing: 0.9em;
  margin-right: 107px;
}

.bet-button {
  appearance: none;
  border: 1px solid;
  padding: 12px 32px 11px 31px;
  font-size: 22px;
  font-weight: 500;
  font-style: medium;
  cursor: pointer;
  border-color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  background: transparent;
  text-transform: uppercase;
}

.lots {
  position: relative;
  width: 1052px;
  height: 723px;
  margin: 180px 24px 120px;
}

.lots__card-list ul {
  position: relative;
  display: flex;
  gap: 25px;
  list-style: none;
}

.lot_backgroud {
  position: relative;
  background-size: cover;
  background-position: center;
}

/* стили для заголовка карточек */
.lots_title {
  position: absolute;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-style: bold;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  z-index: 2;
}

.lot_first {
  background-image: url(../images/card-lot-01.jpg);
  
}

.lot_second {
  background-image: url(../images/card-lot-02.jpg);
}

.lot_third {
  background-image: url(../images/card-lot-03.jpg);
}
