/* Общие стили для навигации/адреса в хедере и футере  */

.main-and-address_styles {
  text-decoration: none;
  font-size: 18px;
  width: 400;
  font-style: normal;
  line-height: 24.3px;
}

/* Стили хедера страницы */

.header {
  position: relative;
  width: 1100px;
  height: 293px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  display: inline;
  justify-self: start;
}

.header__links-list {
  display: inline-flex;
  gap: 32px;
  list-style: circle;
  padding-left: 6px;
}

.header__links-list-item__main {
  list-style: none;
}

.header__logo {
  justify-self: center;
}

.header__logo-image img {
  display: block;
  width: 148px;
  height: 105px;
}

.address {
  width: 240px;
  height: 98px;
  justify-self: end;
}

/* Подчеркивания номера телефона/мейла в адресе в футере/хедере. + подчеркивание в навигационном меню в футере  */
.header__links-list-item__about,
.header__links-list-item__about-lots,
.footer__menu-list-item__about,
.footer__menu-list-item__about-lots,
.mail_style,
.tel_style {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

/* Стили блока с обложкой  */

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  padding: 165px 50px 50px;

  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* Позиционируем блок с текстом "оно тебе надо" в родительском блоке и задаём переносы */
.cover_title {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  width: 1000px;
  height: 385px;
}

.cover_title,
.cover__description {
  z-index: 2;
  color: rgba(255, 255, 255, 1);
}

.aligned-text {
  font-weight: 700;
  font-style: bold;
  font-size: 100px;
  line-height: 114.99999999999999%;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

/* выравниваем текст согласно макету */
.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  text-align: center;
  margin-right: -0.3em; /* убираем letter-spacing после последней буквы */
}

.aligned-text_right {
  text-align: end;
  margin-right: -0.3em; /* убираем letter-spacing после последней буквы */
}

.cover__description {
  position: relative; 
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-top: 105px;
  width: 100%;
}

.cover__description-text {
  font-weight: 100;
  text-transform: uppercase;
  font-style: normal;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 0.9em;
}

.bet-button {
  appearance: none;
  border: 1px solid;
  padding: 12px 32px 11px 31px;
  font-size: 22px;
  font-weight: 500;
  font-style: medium;
  cursor: pointer;
  border-color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  background: transparent;
  text-transform: uppercase;
  flex-shrink: 0;
}

/* Блок с карточками лотов  */

.lots {
  position: relative;
  width: 1052px;
  height: 723px;
  margin: 180px 24px 120px;
}

.lots__heading_style {
  position: absolute;
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  left: 40px;
}

.lots__card-list ul {
  position: absolute;
  display: flex;
  gap: 25px;
  list-style: none;
  top: 74px;
}

/* Задаём размер карточек лотов */
.lots__card-list ul li {
  min-width: 334px;
  min-height: 596px;
}

.lot_background {
  position: relative;
  background-size: cover;
  background-position: center;
}

/* Стили заголовка карточек */
.lots_title {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-style: bold;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
}
/* Стили описания карточек  */
.lots_discription {
  color: rgba(255, 255, 255, 1);
  font-weight: 100;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;

  align-self: end;
}

/* Позиционируем текст в карточках лотов */
.lot_card_position {
  position: absolute;
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100%;
  padding: 48px 40px;
  z-index: 2;
}

.lot_first {
  background-image: url(../images/card-lot-01.jpg);
}

.lot_second {
  background-image: url(../images/card-lot-02.jpg);
}

.lot_third {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: inline;
  position: absolute;
  top: 700px;
  left: 40px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  font-size: 20px;
}

/* Блок с описанием об аукционе  */

.about {
  position: relative;
  width: 1052px;
  height: 595px;
  margin: 120px 24px 180px;
  padding-top: 35px;

  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: auto 1fr;
  align-items: start;
  row-gap: 7px;

  column-gap: 25px;
}

.about__logo {
  position: relative;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
}

.about__logo-img {
  display: block;
  width: 148px;
  height: 114px;
  position: absolute;
  z-index: 1;
}

/* Заголовок - вторая колонка, первая строка */
.about__title {
  grid-column: 2;
  grid-row: 1;

  display: flex;
  align-items: center;
  height: 240px;
  margin: 0;
  padding: 0;
}

.about_lile_font-styles {
  font-weight: 700;
  font-style: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about_discription {
  grid-column: 2;
  grid-row: 2;
}

.about_discription p {
  margin: 0 0 24px 0; /* Отступы между параграфами */
  line-height: 24px;
}

.about_discription_font-styles {
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0%;
}

/* Блок с подвалом  */

.footer {
  display: grid;
  position: relative;
  width: 1100px;
  height: 180px;
  grid-template-columns: repeat(3, auto);
  justify-content: space-between;
  align-items: start;
  padding: 0px 50px;
}

.contacts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}

.footer_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_nav a {
  line-height: normal;
}

.img_logo_youtube,
.img_logo_vk,
.img_logo_pinterest {
  width: 48px;
  height: 48px;
}
